# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
env/
venv/
.env

# Django
*.log
*.pot
*.pyc
*.db
local_settings.py

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py~ 
